In [14]:
import pandas as pd
df=pd.read_csv('D:\Download_Chrome\Large.csv')

In [50]:
df.reset_index(drop=True,inplace=True)
ls=df.values.tolist()
df.head()

     Name
0   rishi
1   kesab
2    kesu
3  ramesh
4    gudu

In [44]:
for i in ls:
    for j in i:
        print(len(j),j)

5 rishi
5 kesab
4 kesu
6 ramesh
4 gudu
5 monoj
6 suresh
6 ritesh
5 rishu

In [47]:
m=0
for i in ls:
    for j in i:
        if(int(len(j))>=m):
            m=int(len(j))
            k=j
        
print(k,end=" ")

ritesh