In [32]:
import pandas as pd
l1=[[] for i in range(30)]
print("Enter Name Weight Height:")
for i in range(0,30):
    data=input()
    l1[i]=data.strip().split()

Enter Name Weight Height:
ris 70 4
sid 90 5
ami 80 4
anu 98 6
sum 87 8
dis 67 3
res 89 3
one 90 4
tik 78 3
tom 78 4
cro 54 1
ese 70 2
teo 88 4
sam 98 4
dam 76 6
git 97 6
rit 87 5
sie 65 1
sia 96 5
ani 65 2
rid 65 3
aie 34 2
oee 90 4
soe 87 6
iti 56 2
oes 77 3
oas 88 5
esa 76 5
isa 56 3
sea 66  6

In [33]:
l2=[[] for i in range(30)]
l3=[]
p=0
for i in l1:
    l3.append(i[0])
    for j in i[1:]:
        l2[p].append(int(j))
    p+=1
l2

[[70, 4],
 [90, 5],
 [80, 4],
 [98, 6],
 [87, 8],
 [67, 3],
 [89, 3],
 [90, 4],
 [78, 3],
 [78, 4],
 [54, 1],
 [70, 2],
 [88, 4],
 [98, 4],
 [76, 6],
 [97, 6],
 [87, 5],
 [65, 1],
 [96, 5],
 [65, 2],
 [65, 3],
 [34, 2],
 [90, 4],
 [87, 6],
 [56, 2],
 [77, 3],
 [88, 5],
 [76, 5],
 [56, 3],
 [66, 6]]

In [34]:
l4=[]
for i in l2:
    l4.append((i[0]//(i[1]*i[1])))

In [36]:
l5=[[] for i in range(30)]
for i in range(30):
    l5[i].append(l3[i])
    l5[i].append(l4[i])

print("Name BMI")
for i in l5:
    for j in i:
        print(j,end=" ")
    print()

Name BMI
ris 4
sid 3
ami 5
anu 2
sum 1
dis 7
res 9
one 5
tik 8
tom 4
cro 54
ese 17
teo 5
sam 6
dam 2
git 2
rit 3
sie 65
sia 3
ani 16
rid 7
aie 8
oee 5
soe 2
iti 14
oes 8
oas 3
esa 3
isa 6
sea 1

In [37]:
df=pd.DataFrame(l5,columns=['Name','BMI'])

In [38]:
df

   Name  BMI
0   ris    4
1   sid    3
2   ami    5
3   anu    2
4   sum    1
5   dis    7
6   res    9
7   one    5
8   tik    8
9   tom    4
10  cro   54
11  ese   17
12  teo    5
13  sam    6
14  dam    2
15  git    2
16  rit    3
17  sie   65
18  sia    3
19  ani   16
20  rid    7
21  aie    8
22  oee    5
23  soe    2
24  iti   14
25  oes    8
26  oas    3
27  esa    3
28  isa    6
29  sea    1

In [39]:
df.to_csv('D:\Download_Chrome\Large.csv' , index=False)