In [67]:
import pandas as pd
df=pd.read_csv('D:\Download_Chrome\Large.csv')

In [73]:
df.reset_index(drop=True,inplace=True)
ls=df.values.tolist()
df.head()

     Name
0     aba
1     oyo
2  master
3   madam
4   india

In [75]:
for i in ls:
    for j in i:
        print(j)

aba
oyo
master
madam
india
usa
fif
fifa
goal

In [80]:
print("Palindrome Words are :")
for i in ls:
    for j in i:
        if j==j[::-1]:
            print(j)

Palindrome Words are :
aba
oyo
madam
fif